#page-mod-assign-mod #fgroup_id_assignsubmission_file_filetypes .felement {
    max-height: 25em;
    overflow-y: scroll;
}
#page-mod-assign-mod #fgroup_id_assignsubmission_file_filetypes .felement span {
    display: block;
}
#page-mod-assign-mod #fgroup_id_assignsubmission_file_filetypes .felement span.group-selected {
    display: none;
}

#page-mod-assign-mod #fgroup_id_assignsubmission_file_filetypes .felement input.type {
    margin-left: 1.5em;
}
#page-mod-assign-mod #fgroup_id_assignsubmission_file_filetypes .felement input.group-all + label {
    font-weight: bold;
}
