/* Custom CSS
-------------------------*/
body {
    background: url([[pix:theme|body]]) no-repeat fixed center top #090103;
}

div#page {
    background: #FFF;
    margin-top: -20px;
    padding-top: 20px;
}

@media (max-width: 979px) {
    body {
        background: transparent;
    }

    div#page {
        margin-top: 0;
        padding-top: 0;
    }
}

header#logo {
    margin-bottom: 20px;
}

a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

.container-fluid {
    max-width: 1200px;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
