/* Custom CSS
-------------------------*/
body {
    background: url([[pix:theme|body]]) no-repeat fixed 50% 40px #090103;
}

div#page {
    background: #FFF;
    margin-top: -20px;
    padding-top: 20px;
}

.container-fluid {
    max-width: 1200px;
}

.navbar .brand {
    background: url([[pix:theme|mdl_grey]]) no-repeat 20px center;
    width: 96px;
    height: 20px;
}

.navbar .brand:hover {
    background: url([[pix:theme|mdl_logo]]) no-repeat 20px center;
}

header#logos {
    margin-bottom: 20px;
}

a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

a.bfc-logo {
    background: url([[pix:theme|bfc_logo]]) no-repeat 100% 0;
    display: block;
    float: right;
    height: 68px;
    margin: 0;
    padding: 0;
    width: 167px;
}

.dir-rtl a.bfc-logo {
    background: url([[pix:theme|bfc_logo]]) no-repeat 0 0;
    display: block;
    float: left;
}

@media (max-width: 979px) {
    body {
        background: transparent;
    }

    div#page {
        margin-top: 0;
        padding-top: 0;
    }

    header#logos {
        display: none;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
